<%= form_for(@page_carousel) do |f| %>
  <% if @page_carousel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page_carousel.errors.count, "error") %> prohibited this page_carousel from being saved:</h2>

      <ul>
      <% @page_carousel.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <% if params[:page_id].to_i == 1%>
    <p>This carousel belongs to the Home Page</p>
  <%end %>

   <% if params[:page_id].to_i == 2%>
    <p>This carousel belongs to the Expo Page</p>
  <%end %>

   <% if params[:page_id].to_i == 3%>
    <p>This carousel belongs to Industry Page</p>
  <%end %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
