<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @page_text.description %>
</p>

<%= link_to 'Edit', edit_page_text_path(@page_text) %> |
<%= link_to 'The Old Back', page_texts_path %>
</br>

<%pt ="/pages/#{params[:page_id]}/edit"%> 


<%= link_to 'The Real Back', pt %>


