<p id="notice"><%= notice %></p>

<p>
  <b>Project:</b>
  <%= @project_status.project_id %>
</p>

<p>
  <b>Project status type:</b>
  <%= @project_status.project_status_type_id %>
</p>

<p>
  <b>Semester:</b>
  <%= @project_status.semester_id %>
</p>


<%= link_to 'Edit', edit_project_status_path(@project_status) %> |
<%= link_to 'Back', project_statuses_path %>
