<%= form_for(@page_heading) do |f| %>
  <% if @page_heading.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page_heading.errors.count, "error") %> prohibited this page_heading from being saved:</h2>

      <ul>
      <% @page_heading.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
