<h1>Listing page_headings</h1>

<table>
  <tr>
    <th>Title</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @page_headings.each do |page_heading| %>
  <tr>
    <td><%= page_heading.title %></td>
    <td><%= link_to 'Show', page_heading %></td>
    <td><%= link_to 'Edit', edit_page_heading_path(page_heading) %></td>
    <td><%= link_to 'Destroy', page_heading, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Page heading', new_page_heading_path %>
