<table border="1">
<tr>
<td>

<p>
  <b>Title1:</b>
  <%= @past_project.title1 %>
</p>

<p>
  <b>Picture1:</b>
    <%= image_tag(@past_project.picture1, :width => 600) if @past_project.picture1.present? %>
</p>

<p>
  <b>Description1:</b>
  <%= @past_project.description1 %>
</p>
</td>
<td>
<p>
  <b>Title2:</b>
  <%= @past_project.title2 %>
</p>

<p>
  <b>Picture2:</b>
    <%= image_tag(@past_project.picture2, :width => 600) if @past_project.picture2.present? %>
</p>

<p>
  <b>Description2:</b>
  <%= @past_project.description2 %>
</p></td>
</tr>
<tr>
<td><p>
  <b>Title3:</b>
  <%= @past_project.title3 %>
</p>

<p>
  <b>Picture3:</b>
      <%= image_tag(@past_project.picture3, :width => 600) if @past_project.picture3.present? %>

</p>

<p>
  <b>Description3:</b>
  <%= @past_project.description3 %>
</p>
</td>
<td><p>
  <b>Title4:</b>
  <%= @past_project.title4 %>
</p>

<p>
  <b>Picture4:</b>
      <%= image_tag(@past_project.picture4, :width => 600) if @past_project.picture4.present? %>

</p>

<p>
  <b>Description4:</b>
  <%= @past_project.description4 %>
</p></td>
</tr>
</table>








<p>
  <b>Links:</b>
  <%= @past_project.links %>
</p>


<%= link_to 'Edit', edit_past_project_path(@past_project) %> |
<%= link_to 'Back', past_projects_path %>
