<h1>Listing page_pictures</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Picture</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @page_pictures.each do |page_picture| %>
  <tr>
    <td><%= page_picture.name %></td>
    <td><%= page_picture.picture %></td>
    <td><%= link_to 'Show', page_picture %></td>
    <td><%= link_to 'Edit', edit_page_picture_path(page_picture) %></td>
    <td><%= link_to 'Destroy', page_picture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Page picture', new_page_picture_path %>
