<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @page_picture.name %>
</p>

<p>
  <b>Picture:</b>
  <%= image_tag(@page_picture.picture_url, :width => 600) if @page_picture.picture.present? %>

</p>


<%= link_to 'Edit', edit_page_picture_path(@page_picture) %> |
<%= link_to 'Back', page_pictures_path %>
