<%= form_for(@group_proposal) do |f| %>
  <% if @group_proposal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group_proposal.errors.count, "error") %> prohibited this group_proposal from being saved:</h2>

      <ul>
      <% @group_proposal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :group_id %><br />
    <%= f.number_field :group_id %>
  </div>
  <div class="field">
    <%= f.label :proposal_id %><br />
    <%= f.number_field :proposal_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
