<%= form_for(@group_member) do |f| %>
  <% if @group_member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group_member.errors.count, "error") %> prohibited this group_member from being saved:</h2>

      <ul>
      <% @group_member.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

     <div class="field">
    <%= f.label :group_id %>
    <%= params[:group]%>
    <%= f.hidden_field :group_id , :value =>  params[:group] %>
  </div>
  <br />
  <div class="field">
    <%= f.label :student_id , "Enter Your Student ID (ex. 902555555)"%><br />
    <%= f.number_field :student_id %>
  </div>
  <div class="actions">
    <%= f.submit "Join Group",:class => 'btn btn-primary'%>
  </div>
<% end %>

