<p id="notice"><%= notice %></p>

<p>
  <b>Group:</b>
  <%= @group_member.group_id %>
</p>

<p>
  <b>Student ID:</b>
  <%= @group_member.student_id %>
</p>

<p>
  <b>Name:</b>
  <%= @group_member.name %>
</p>
<p>
  <b>Email:</b>
  <%= @group_member.email %>
</p>
<%= link_to 'Edit', edit_group_member_path(@group_member) %> |
<%= link_to 'Back',  group_path(@group_member.group_id )  %>
