<a 
  href="<%= group_path(group)%>" 
  id="<%= "group_id_#{group.id}" %>" 
  data-trigger="hover" 
  data-original-title="Group Details"
  data-placement="bottom"
  rel="popover" 
  onclick="return true;">
  <%= " #{group.name} " %>
</a>

<div id="<%= "group_id_#{group.id}_content" %>" style="display: none;">
  <div class="row-fluid">
    <div class="span12">

      <%= render :partial => "groups/details", :locals => {group: group} %>

    </div>
  </div>
</div>
