<p id="notice"><%= notice %></p>

<h1><%= @group.name %></h1>

<p>Group ID: <%= @group.id %></p>

<h3>Listing Members of <%= @group.name %> </h3>

<table>
  <tr>
    <th>Student ID</th>
    <th>Name</th>
    <th>Email</th>
    <th></th>
  </tr>

<% @gm.each do |group_member| %>
  <tr>
  	<% if group_member.group_id == @group.id %>

    <td><%= group_member.student_id %></td>

     <% if type_of_user == "admin" %>


    <td><%= link_to 'Show', group_member %></td>
    <td><%= link_to 'Edit', edit_group_member_path(group_member) %></td>
    <td><%= link_to 'Destroy', group_member, method: :delete, data: { confirm: 'Are you sure?' } %></td>

    <%end%>
    <% end%>
  </tr>
<% end %>
</table>

<h3>Listing Proposals of <%= @group.name %> </h3>

<table>
  <tr>
    <th>Status </th>
    <th>Project Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>


<% @proposals.each do |proposal| %>
  <tr>
    <% if proposal.group_id == @group.id %>

    <td><%= proposal.propsal_status_type_id %></td>
    <td><%= Project.find(proposal.project_id).name %></td>
    <td><%= link_to 'Show', proposal %></td>
    <td><%= link_to 'Edit', edit_proposal_path(proposal) %></td>
    <td><%= link_to 'Destroy', proposal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <%end%>
  </tr>
<% end %>
</table>



<%= link_to 'Join Group',new_group_member_path(:group => @group.id ), :class => 'btn btn-primary' %> |
<%= link_to 'Create Project Proposal', new_proposal_path(:group => @group.id),:class => 'btn btn-primary' %> |


<%= link_to 'Edit', edit_group_path(@group), :class => 'btn btn-primary'  %> |
<%= link_to 'Back', groups_path, :class => 'btn btn-primary'  %> |
<%= link_to 'Delete This Group', group_path, :class => 'btn btn-danger
' ,method: :delete, data: { confirm: 'Are you sure?' } %>
