<h3>Add Faculty</h3>

<%= form_tag controller: "users", action: "add_faculty" do %>

  <%= text_field_tag 'gtusername' %>

  <h5>Assign School</h5>
  <% School.all.each do |s| %>
    <label class="radio">
      <%= radio_button_tag 'selectedSchool[]', s.id, false, :type => "radio", required: "required" %><%= s.name %><br />
    </label>
  <% end %>

  <%= submit_tag "Accept" %>

<% end %>

