<%= form_for @user, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :gtusername, "GT Username", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :gtusername, :class => 'text_field', :readonly => true %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :email, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :email, :class => 'text_field', :required => true %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :firstname, "First Name", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :firstname, :class => 'text_field', :required => true %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :lastname, "Last Name", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :lastname, :class => 'text_field', :required => true %>
    </div>
  </div>

  <% if @user.isStudent? %>

    <div class="control-group">
      <%= f.label :semester_id, :class => 'control-label' %>
      <div class="controls">
      	<%
          u = @user.becomes(Student)
      	  if not u.section_id.nil? and not u.becomes(Student).section.semester.nil?
      	    selected_semester = u.section.semester.id
      	  else
      	    selected_semester = 1
      	  end 
      	%>
        <%= select("semester", "id", Semester.all.collect {|s| [s.name, s.id] }, :selected => selected_semester) %>
      </div>
    </div>
    
    <% Semester.all.each do |s| %>
      <div class="control-group section_select_group" style="display: none" id=<%= "semester_id_#{s.id}" %>>
        <%= f.label :section_id, :class => 'control-label' %>
        <div class="controls">
      	  <%
            u = @user.becomes(Student)
      	    if s.id == selected_semester and not u.section_id.nil?
      	      selected_section = u.section.id
      	    else
      	      selected_section = 1
      	    end 
      	  %>
          <%= select("section_id", "for_semester_#{s.id}", Semester.find(s.id).sections.collect {|sec| [sec.name, sec.id] }, :selected => selected_section) %>
        </div>
      </div>
    <% end %>

    <div>
      <h5>NOTE: Switching semesters will result in a loss of previous group affiliations</h5> 
    </div>
  <% end %>

  <div class="control-group" style="display: none">
    <%= f.label :type, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :type, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit "Save", :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
      root_path, :class => 'btn' %>
    </div>
  <% end %>
