<a 
  href="#" 
  id="<%= "student_id_#{student.id}" %>" 
  data-trigger="click" 
  data-original-title="Details"
  data-placement="<%= placement %>"
  rel="popover" 
  onclick="return false;">
  <%= "#{student.name}" %>
</a>

<div id="<%= "student_id_#{student.id}_content" %>" style="display: none;">
  <div class="row-fluid">
    <div class="span12">

      <dl class="dl-horizontal">

        <dt><strong>GT Username:</strong></dt>
        <dd><%= student.gtusername %></dd>

        <dt><strong>Email:</strong></dt>
        <dd><%= student.email %></dd>

        <% if student.isStudent? %>
          <% student = Student.find(student.id) %>

          <dt><strong>Section:</strong></dt>
          <dd><%= student.section.name %></dd>

          <dt><strong>Group:</strong></dt>
          <% if student.my_group %>
            <dd><%= student.my_group.name %></dd>
          <% else %>
            <dd>No group</dd>
          <% end %>

        <% end %>

      </dl>

    </div>
  </div>
</div>
