<h1>User Management</h1>

<% if flash[:notice] %>
  <div class="row-fluid">
    <div class="span12 well">
      <%= flash[:notice] %>
    </div>
  </div>
<% end %>

<div class="row-fluid">
  <div class="span12 well">
    <%= render "add_faculty" %>
  </div>
</div>

<div class="row-fluid">
  <div class="span12 well">
    <%= render "faculty_list" %>
  </div>
</div>

<div class="row-fluid">
  <div class="span12 well">
    <%= render "student_list" %>
  </div>
</div>

<div class="row-fluid">
  <div class="span12 well">
    <%= render "give_admin_status" %>
  </div>
</div>

<div class="row-fluid">
  <div class="span12 well">
    <%= render "add_test_user" %>
  </div>
</div>

