<!-- THE SCAFFOLDING FOR DIFFERENT KINDS OF USERS -->

<% if !current_user %>

  <!-- No user logged in -->

  <div class="row-fluid">
    <div class="span4">
      <table>
        <tr>
          <th colspan=3><h4>Industry</h4></th>
        </tr>
        <tr>
          <th colspan=3>Get involved!</th>
        </tr>
        <tbody>
          <tr>
            <td colspan=1><center><%= image_tag "Previous_G.png" %></center></td>
            <td colspan=2 style="vertical-align:middle"><a href="http://www.capstone.gatech.edu/?page_id=65" target="_blank">Past projects</a></td>
          </tr>
          <tr>
            <td colspan=1><center><%= image_tag "IP_G.png" %></center></td>
            <td colspan=2 style="vertical-align:middle"><a href="http://www.capstone.gatech.edu/?page_id=14/#IP" target="_blank">Read about NDA/IP</a></td>
          </tr>
          <tr>
            <td colspan=1><center><%= image_tag "Submit_G.png" %></center></td>
            <td colspan=2 style="vertical-align:middle"><a href="/projects/new">Submit a project</a></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="span4">
      <table>
        <tr>
          <th colspan=3><h4>Students</h4></th>
        </tr>
        <tr>
          <th colspan=3>What does this site do?</th>
        </tr>
        <tbody>
          <tr>
            <td colspan=1><center><%= image_tag "Search_G.png" %></center></td>
            <td colspan=2 style="vertical-align:middle"><a href="/home/login_with_CAS">Look up project ideas</a></td>
          </tr>
          <tr>
            <td colspan=1><center><%= image_tag "Teams_G.png" %></center></td>
            <td colspan=2 style="vertical-align:middle"><a href="/home/login_with_CAS">Form your own interdisciplinary team</a></td>
          </tr>
          <tr>
            <td colspan=1><center><%= image_tag "Submit_G.png" %></center></td>
            <td colspan=2 style="vertical-align:middle"><a href="/home/login_with_CAS">Submit bids for projects</a></td>
          </tr>
          <tr>
            <td colspan=1><center><%= image_tag "Prezi_G.png" %></center></td>
	    <td colspan=2 style="vertical-align:middle"><a href="http://prezi.com/bcdeav4ezczy/how-to-sign-up-for-a-project/" target="_blank">How do I sign up for a project?</a></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="span4">
      <table>
        <tr>
          <th colspan=3><h4>Faculty</h4></th>
        </tr>
        <tr>
          <th colspan=3>What can I do?</th>
        </tr>
        <tbody>
          <tr>
            <td colspan=1><center><%= image_tag "Search_G.png" %></center></td>
            <td colspan=2 style="vertical-align:middle"><a href="/home/login_with_CAS">Look up project ideas for your section</a></td>
          </tr>
          <tr>
            <td colspan=1><center><%= image_tag "Approve_G.png" %></center></td>
            <td colspan=2 style="vertical-align:middle"><a href="/home/login_with_CAS">Approve projects for your section</a></td>
          </tr>
          <tr>
            <td colspan=1><center><%= image_tag "Submit_G.png" %></center></td>
            <td colspan=2 style="vertical-align:middle"><a href="/home/login_with_CAS">Send project ideas</a></td>
          </tr>
          <tr>
           <td colspan=1><center><%= image_tag "Prezi_G.png" %></center></td>
	   <td colspan=2 style="vertical-align:middle"><a href="http://prezi.com/yo8lk_4tktvp/how-do-i-send-capstone-project-ideas/" target="_blank">How do I send project ideas?</a></td>
          </tr>
          <tr>
           <td colspan=1><center><%= image_tag "Prezi_G.png" %></center></td>
	   <td colspan=2 style="vertical-align:middle"><a href="http://prezi.com/ipxx9k-vxc0l/how-do-i-view-projects/" target="_blank">How do I view projects?</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

<% elsif current_user.isAdmin? %>

  <!-- Admin -->

  <div class="row-fluid">
    <div class="span4">
      <table>
        <tr>
          <th colspan=3><h4>Industry</h4></th>
        </tr>
        <tr>
          <th colspan=3>Get involved!</th>
        </tr>
        <tbody>
          <tr>
            <td colspan=1><center><%= image_tag "Previous_G.png" %></center></td>
            <td colspan=2 style="vertical-align:middle"><a href="http://www.capstone.gatech.edu/?page_id=65" target="_blank">Past projects</a></td>
          </tr>
          <tr>
            <td colspan=1><center><%= image_tag "IP_G.png" %></center></td>
            <td colspan=2 style="vertical-align:middle"><a href="http://www.capstone.gatech.edu/?page_id=14/#IP" target="_blank">Read about NDA/IP</a></td>
          </tr>
          <tr>
            <td colspan=1><center><%= image_tag "Submit_G.png" %></center></td>
            <td colspan=2 style="vertical-align:middle"><a href="/projects/new">Submit a project</a></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="span4">
      <table>
        <tr>
          <th colspan=3><h4>Students</h4></th>
        </tr>
        <tr>
          <th colspan=3>What does this site do?</th>
        </tr>
        <tbody>
          <tr>
            <td colspan=1><center><%= image_tag "Search_G.png" %></center></td>
            <td colspan=2 style="vertical-align:middle"><a href="/home/login_with_CAS">Look up project ideas</a></td>
          </tr>
          <tr>
            <td colspan=1><center><%= image_tag "Teams_G.png" %></center></td>
            <td colspan=2 style="vertical-align:middle"><a href="/home/login_with_CAS">Form your own interdisciplinary team</a></td>
          </tr>
          <tr>
            <td colspan=1><center><%= image_tag "Submit_G.png" %></center></td>
            <td colspan=2 style="vertical-align:middle"><a href="/home/login_with_CAS">Submit bids for projects</a></td>
          </tr>
          <tr>
            <td colspan=1><center><%= image_tag "Prezi_G.png" %></center></td>
	    <td colspan=2 style="vertical-align:middle"><a href="http://prezi.com/bcdeav4ezczy/?utm_campaign=share&utm_medium=copy" target="_blank">How do I sign up for a project?</a></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="span4">
      <table>
        <tr>
          <th colspan=3><h4>Faculty</h4></th>
        </tr>
        <tr>
          <th colspan=3>What can I do?</th>
        </tr>
        <tbody>
          <tr>
            <td colspan=1><center><%= image_tag "Search_G.png" %></center></td>
            <td colspan=2 style="vertical-align:middle"><a href="/home/login_with_CAS">Look up project ideas for your section</a></td>
          </tr>
          <tr>
            <td colspan=1><center><%= image_tag "Approve_G.png" %></center></td>
            <td colspan=2 style="vertical-align:middle"><a href="/home/login_with_CAS">Approve projects for your section</a></td>
          </tr>
          <tr>
            <td colspan=1><center><%= image_tag "Submit_G.png" %></center></td>
            <td colspan=2 style="vertical-align:middle"><a href="/home/login_with_CAS">Send project ideas</a></td>
          </tr>
          <tr>
           <td colspan=1><center><%= image_tag "Prezi_G.png" %></center></td>
	   <td colspan=2 style="vertical-align:middle"><a href="http://prezi.com/yo8lk_4tktvp/?utm_campaign=share&utm_medium=copy" target="_blank">How do I send project ideas?</a></td>
          </tr>
          <tr>
           <td colspan=1><center><%= image_tag "Prezi_G.png" %></center></td>
	   <td colspan=2 style="vertical-align:middle"><a href="http://prezi.com/ipxx9k-vxc0l/?utm_campaign=share&utm_medium=copy" target="_blank">How do I view projects?</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

<% elsif current_user.isStudent? %>
  <!-- Student -->

  <div class="row-fluid">
    <div class="span3">
    </div>
    <div class="span4">
      <table>
        <tr>
          <th colspan=3><h4>Students</h4></th>
        </tr>
        <tr>
          <th colspan=3>What does this site do?</th>
        </tr>
        <tbody>
          <tr>
            <td colspan=1><center><%= image_tag "Search_G.png" %></center></td>
            <td colspan=2 style="vertical-align:middle"><a href="/home/login_with_CAS">Look up project ideas</a></td>
          </tr>
          <tr>
            <td colspan=1><center><%= image_tag "Teams_G.png" %></center></td>
            <td colspan=2 style="vertical-align:middle"><a href="/home/login_with_CAS">Form your own interdisciplinary team</a></td>
          </tr>
          <tr>
            <td colspan=1><center><%= image_tag "Submit_G.png" %></center></td>
            <td colspan=2 style="vertical-align:middle"><a href="/home/login_with_CAS">Submit bids for projects</a></td>
          </tr>
          <tr>
            <td colspan=1><center><%= image_tag "Prezi_G.png" %></center></td>
	    <td colspan=2 style="vertical-align:middle"><a href="http://prezi.com/bcdeav4ezczy/?utm_campaign=share&utm_medium=copy" target="_blank">How do I sign up for a project?</a></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="span5">
    </div>
  </div>

<% elsif current_user.isFaculty? %>

  <!-- Faculty -->

  <div class="row-fluid">
    <div class="span3">
    </div>
    <div class="span4">
      <table>
        <tr>
          <th colspan=3><h4>Faculty</h4></th>
        </tr>
        <tr>
          <th colspan=3>What can I do?</th>
        </tr>
        <tbody>
          <tr>
            <td colspan=1><center><%= image_tag "Search_G.png" %></center></td>
            <td colspan=2 style="vertical-align:middle"><a href="/home/login_with_CAS">Look up project ideas for your section</a></td>
          </tr>
          <tr>
            <td colspan=1><center><%= image_tag "Approve_G.png" %></center></td>
            <td colspan=2 style="vertical-align:middle"><a href="/home/login_with_CAS">Approve projects for your section</a></td>
          </tr>
          <tr>
            <td colspan=1><center><%= image_tag "Submit_G.png" %></center></td>
            <td colspan=2 style="vertical-align:middle"><a href="/home/login_with_CAS">Send project ideas</a></td>
          </tr>
          <tr>
           <td colspan=1><center><%= image_tag "Prezi_G.png" %></center></td>
	   <td colspan=2 style="vertical-align:middle"><a href="http://prezi.com/yo8lk_4tktvp/?utm_campaign=share&utm_medium=copy" target="_blank">How do I send project ideas?</a></td>
          </tr>
          <tr>
           <td colspan=1><center><%= image_tag "Prezi_G.png" %></center></td>
	   <td colspan=2 style="vertical-align:middle"><a href="http://prezi.com/ipxx9k-vxc0l/?utm_campaign=share&utm_medium=copy" target="_blank">How do I view projects?</a></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="span5">
    </div>
  </div>

<% end %>

