<!-- THE SCAFFOLDING FOR DIFFERENT KINDS OF USERS -->

<% if !current_user %>

  <!-- No user logged in -->

  <div class="row-fluid">
    <div class="span4">
      <table>
        <tr>
          <th colspan=3><h4>Industry</h4></th>
        </tr>
        <tr>
          <th colspan=3>Get involved!</th>
        </tr>
        <tbody>
          <tr>
            <td colspan=1><center><%= image_tag "Previous.png" %></center></td>
            <td colspan=2 style="vertical-align:middle"><a href="http://www.capstone.gatech.edu/?page_id=65">Past projects</a></td>
          </tr>
          <tr>
            <td colspan=1><center><%= image_tag "IP.png" %></center></td>
            <td colspan=2 style="vertical-align:middle"><a href="http://www.capstone.gatech.edu/?page_id=14/#IP">Read about NDA/IP</a></td>
          </tr>
          <tr>
            <td colspan=1><center><%= image_tag "Submit.png" %></center></td>
            <td colspan=2 style="vertical-align:middle"><a href="/projects/new">Submit a project</a></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="span4">
      <table>
        <tr>
          <th colspan=3><h4>Students</h4></th>
        </tr>
        <tr>
          <th colspan=3>What does this site do?</th>
        </tr>
        <tbody>
          <tr>
            <td colspan=1><center><%= image_tag "Idea.png" %></center></td>
            <td colspan=2 style="vertical-align:middle"><a href="/home/login_with_CAS">Look up project ideas</a></td>
          </tr>
          <tr>
            <td colspan=1><center><%= image_tag "Teams.png" %></center></td>
            <td colspan=2 style="vertical-align:middle"><a href="/home/login_with_CAS">Form your own interdisciplinary team</a></td>
          </tr>
          <tr>
            <td colspan=1><center><%= image_tag "Submit.png" %></center></td>
            <td colspan=2 style="vertical-align:middle"><a href="/home/login_with_CAS">Submit bids for projects</a></td>
          </tr>
          <tr>
            <td colspan=3><center><a href="http://prezi.com/bcdeav4ezczy/present/?auth_key=u48se0y&follow=tzoyd92yn_dp&kw=present-bcdeav4ezczy&rc=ref-48776703">How do I sign up for a project?</a></cennter></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="span4">
      <table>
        <tr>
          <th colspan=3><h4>Faculty</h4></th>
        </tr>
        <tr>
          <th colspan=3>What can I do?</th>
        </tr>
        <tbody>
          <tr>
            <td colspan=1><center><%= image_tag "Idea.png" %></center></td>
            <td colspan=2 style="vertical-align:middle"><a href="/home/login_with_CAS">Look up project ideas for your section</a></td>
          </tr>
          <tr>
            <td colspan=1><center><%= image_tag "Approve.png" %></center></td>
            <td colspan=2 style="vertical-align:middle"><a href="/home/login_with_CAS">Approve projects for your section</a></td>
          </tr>
          <tr>
            <td colspan=1><center><%= image_tag "Submit.png" %></center></td>
            <td colspan=2 style="vertical-align:middle"><a href="/home/login_with_CAS">Send project ideas</a></td>
          </tr>
          <tr>
            <td colspan=3><center><a href="http://prezi.com/yo8lk_4tktvp/present/?auth_key=sax06dr&follow=tzoyd92yn_dp&kw=present-yo8lk_4tktvp&rc=ref-48776703">How do I send project ideas?</a></cennter></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

<% elsif current_user.isAdmin? %>

  <!-- Admin -->

  <div class="row-fluid">
    <div class="span4">
      <table>
        <tr>
          <th colspan=3><h4>Industry</h4></th>
        </tr>
        <tr>
          <th colspan=3>Get involved!</th>
        </tr>
        <tbody>
          <tr>
            <td colspan=1><center><%= image_tag "Previous.png" %></center></td>
            <td colspan=2 style="vertical-align:middle"><a href="http://www.capstone.gatech.edu/?page_id=65">Past projects</a></td>
          </tr>
          <tr>
            <td colspan=1><center><%= image_tag "IP.png" %></center></td>
            <td colspan=2 style="vertical-align:middle"><a href="http://www.capstone.gatech.edu/?page_id=14/#IP">Read about NDA/IP</a></td>
          </tr>
          <tr>
            <td colspan=1><center><%= image_tag "Submit.png" %></center></td>
            <td colspan=2 style="vertical-align:middle"><a href="/projects/new">Submit a project</a></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="span4">
      <table>
        <tr>
          <th colspan=3><h4>Students</h4></th>
        </tr>
        <tr>
          <th colspan=3>What does this site do?</th>
        </tr>
        <tbody>
          <tr>
            <td colspan=1><center><%= image_tag "Idea.png" %></center></td>
            <td colspan=2 style="vertical-align:middle"><a href="/home/login_with_CAS">Look up project ideas</a></td>
          </tr>
          <tr>
            <td colspan=1><center><%= image_tag "Teams.png" %></center></td>
            <td colspan=2 style="vertical-align:middle"><a href="/home/login_with_CAS">Form your own interdisciplinary team</a></td>
          </tr>
          <tr>
            <td colspan=1><center><%= image_tag "Submit.png" %></center></td>
            <td colspan=2 style="vertical-align:middle"><a href="/home/login_with_CAS">Submit bids for projects</a></td>
          </tr>
          <tr>
            <td><a href="http://prezi.com/bcdeav4ezczy/present/?auth_key=u48se0y&follow=tzoyd92yn_dp&kw=present-bcdeav4ezczy&rc=ref-48776703">How do I sign up for a project?</a></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="span4">
      <table>
        <tr>
          <th colspan=3><h4>Faculty</h4></th>
        </tr>
        <tr>
          <th colspan=3>What can I do?</th>
        </tr>
        <tbody>
          <tr>
            <td colspan=1><center><%= image_tag "Idea.png" %></center></td>
            <td colspan=2 style="vertical-align:middle"><a href="/home/login_with_CAS">Look up project ideas for your section</a></td>
          </tr>
          <tr>
            <td colspan=1><center><%= image_tag "Approve.png" %></center></td>
            <td colspan=2 style="vertical-align:middle"><a href="/home/login_with_CAS">Approve projects for your section</a></td>
          </tr>
          <tr>
            <td colspan=1><center><%= image_tag "Submit.png" %></center></td>
            <td colspan=2 style="vertical-align:middle"><a href="/home/login_with_CAS">Send project ideas</a></td>
          </tr>
          <tr>
            <td colspan=3><center><a href="http://prezi.com/yo8lk_4tktvp/present/?auth_key=sax06dr&follow=tzoyd92yn_dp&kw=present-yo8lk_4tktvp&rc=ref-48776703">How do I send project ideas?</a></cennter></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

<% elsif current_user.isStudent? %>
  <!-- Student -->

  <div class="row-fluid">
    <div class="span3">
    </div>
    <div class="span4">
      <table>
        <tr>
          <th colspan=3><h4>Students</h4></th>
        </tr>
        <tr>
          <th colspan=3>What does this site do?</th>
        </tr>
        <tbody>
          <tr>
            <td colspan=1><center><%= image_tag "Idea.png" %></center></td>
            <td colspan=2 style="vertical-align:middle"><a href="/home/login_with_CAS">Look up project ideas</a></td>
          </tr>
          <tr>
            <td colspan=1><center><%= image_tag "Teams.png" %></center></td>
            <td colspan=2 style="vertical-align:middle"><a href="/home/login_with_CAS">Form your own interdisciplinary team</a></td>
          </tr>
          <tr>
            <td colspan=1><center><%= image_tag "Submit.png" %></center></td>
            <td colspan=2 style="vertical-align:middle"><a href="/home/login_with_CAS">Submit bids for projects</a></td>
          </tr>
          <tr>
            <td><a href="http://prezi.com/bcdeav4ezczy/present/?auth_key=u48se0y&follow=tzoyd92yn_dp&kw=present-bcdeav4ezczy&rc=ref-48776703">How do I sign up for a project?</a></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="span5">
    </div>
  </div>

<% elsif current_user.isFaculty? %>

  <!-- Faculty -->

  <div class="row-fluid">
    <div class="span3">
    </div>
    <div class="span4">
      <table>
        <tr>
          <th colspan=3><h4>Faculty</h4></th>
        </tr>
        <tr>
          <th colspan=3>What can I do?</th>
        </tr>
        <tbody>
          <tr>
            <td colspan=1><center><%= image_tag "Idea.png" %></center></td>
            <td colspan=2 style="vertical-align:middle"><a href="/home/login_with_CAS">Look up project ideas for your section</a></td>
          </tr>
          <tr>
           <td colspan=1><center><%= image_tag "Approve.png" %></center></td>
            <td colspan=2 style="vertical-align:middle"><a href="/home/login_with_CAS">Approve projects for your section</a></td>
          </tr>
          <tr>
            <td colspan=1><center><%= image_tag "Submit.png" %></center></td>
            <td colspan=2 style="vertical-align:middle"><a href="/home/login_with_CAS">Send project ideas</a></td>
          </tr>
          <tr>
            <td colspan=3><center><a href="http://prezi.com/yo8lk_4tktvp/present/?auth_key=sax06dr&follow=tzoyd92yn_dp&kw=present-yo8lk_4tktvp&rc=ref-48776703">How do I send project ideas?</a></cennter></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="span5">
    </div>
  </div>

<% end %>

