<h1>Listing sections</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Semester</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sections.each do |section| %>
  <tr>
    <td><%= section.name %></td>
    <td><%= section.semester_id %></td>
    <td><%= link_to 'Show', semester_sections_path(@semester) %></td>
    <td><%= link_to 'Edit', edit_semester_sections_path(@semester, section) %></td>
    <td><%# link_to 'Destroy', semester_section, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Section', new_semester_section_path(@semester) %>
