<div class="row-fluid">
  <div class="span12">
    <h3><%= project.name %></h3>
  </div>
</div>

<div class="row-fluid">
  <div class="span3">
    <h5 style="text-align: right">Background:</h5>
  </div>
  <div class="span9">
    <h6><%= project.background %></h6>
  </div>
</div>

<div class="row-fluid">
  <div class="span3">
    <h5 style="text-align: right">Concept:</h5>
  </div>
  <div class="span9">
    <h6><%= project.concept %></h6>
  </div>
</div>

<div class="row-fluid">
  <div class="span3">
    <h5 style="text-align: right">Design:</h5>
  </div>
  <div class="span9">
    <h6><%= project.design %></h6>
  </div>
</div>

<div class="row-fluid">
  <div class="span3">
    <h5 style="text-align: right">Skills:</h5>
  </div>
  <div class="span9">
    <h6><%= project.skills %></h6>
  </div>
</div>

<div class="row-fluid">
  <div class="span3">
    <h5 style="text-align: right">Solutions:</h5>
  </div>
  <div class="span9">
    <h6><%= project.solutions %></h6>
  </div>
</div>

