<div class="row-fluid">
  <div class="span12">

    <h3><%= project.name %></h3>

    <dl class="dl-horizontal">

      <dt><strong>Background:</strong></dt>
      <dd><%= project.background %></dd>

      <dt><strong>Concept:</strong></dt>
      <dd><%= project.concept %></dd>

      <dt><strong>Design:</strong></dt>
      <dd><%= project.design %></dd>

      <dt><strong>Skills:</strong></dt>
      <dd><%= project.skills %></dd>

      <dt><strong>Solutions:</strong></dt>
      <dd><%= project.solutions %></dd>

    </dl>

  </div>
</div>

