<div class="row-fluid" style="margin-top: 10px;">
  <div class="span12">
    <ul class="nav nav-tabs">
      <li><a href="#overview" data-toggle="tab">Overview</a></li>
      <li class="active"><a href="#more_info" data-toggle="tab">More Information</a></li>
    </ul>
  </div>
</div>


<div class="row-fluid">
  <div class="span12">
    <div class="tab-content" style="overflow: visible">

      <div class="tab-pane" id="overview">
        <dl class="dl-horizontal">

          <dt><strong>Submitted By:</strong></dt>
          <dd><%= project.submitter_humanize %></dd>

          <% if current_user.isAdmin? and project.accepted?%>
            <dt><strong>Semester:</strong></dt>
            <dd><%= project.semester.name %></dd>
          <% end %>

          <% if project.accepted? %>
            <dt><strong>Majors Required:</strong></dt>
            <dd>
            <% counter = project.schools.count - 1 %>
            <% project.schools.each do |s| %>
              <%= "#{s.name}" %>
              <% if counter > 0 %>
                <%= ", " %>
              <% end %>
              <% counter = counter - 1 %>
            <% end %>
            </dd>     
          <% end %> 

          <dt><strong>Number of Proposals:</strong></dt>
          <dd><%= project.proposals.count %></dd>

          <% if ( current_user.isAdmin? or current_user.isFaculty? ) and project.proposals.count > 0 %>
            <dt><strong>Submitted Proposals:</strong></dt>
            <dd>
            <% project.proposals.each do |proposal| %>
              <li><%= render :partial => "proposals/details_popover", :locals => {proposal: proposal, placement: "bottom"} %></li>
            <% end %>
            </dd>
          <% end %>

          <% if current_user.isAdmin? %>
            <dt><strong>Project Status:</strong></dt>
            <dd>
            <%= "#{ProjectStatus.find(project.project_status_id).name}" %>
            <% if !project.semester.blank? %>
              <%= "for #{project.semester.name}" %>
            <% end %>
            </dd>
          <% end %>

          <% if current_user.isFaculty? %>
            <dt><strong>Project Status:</strong></dt>
            <dd>
            <% if project.schools.include? current_user.school %>
              <div class="btn-group">
                <a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#"><%= "#{project.faculty_decision(current_user).stringify} " %><span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <% if project.faculty_decision(current_user).decision %>
                    <li><%= link_to "Reject", faculty_reject_project_path(project, faculty_id: current_user.id) %></li>
                  <% else %>
                    <li><%= link_to "Approve", faculty_approve_project_path(project, faculty_id: current_user.id) %></li>
                  <% end %>
                </ul>
              </div>
            <% else %>
              N/A
            <% end %>
            </dd>
          <% end %>

        </dl>
      </div>

      <div class="tab-pane active" id="more_info">
        <dl class="dl-horizontal">

          <dt><strong>NDA Required:</strong></dt>
          <% if project.nda_required %>
            <dd style="color: red">Yes</dd>
          <% else %>
            <dd>No</dd>
          <% end %>

          <dt><strong>Interest in IP Assignment:</strong></dt>
          <% if project.funding_commitment %>
            <dd style="color: red">Yes</dd>
          <% else %>
            <dd>No</dd>
          <% end %>

          <dt><strong>Background:</strong></dt>
          <dd><%= project.background %></dd>

          <dt><strong>Concept:</strong></dt>
          <dd><%= project.concept %></dd>

          <dt><strong>Design:</strong></dt>
          <dd><%= project.design %></dd>

          <dt><strong>Skills:</strong></dt>
          <dd><%= project.skills %></dd>

          <dt><strong>Solutions:</strong></dt>
          <dd><%= project.solutions %></dd>

          <% if current_user.isAdmin? and project.company_id %>
            <h6>Director Info</h6>
            <dt><strong>Name:</strong></dt>
            <dd><%= project.company.director_name %></dd>
            <dt><strong>Designation:</strong></dt>
            <dd><%= project.company.director_designation %></dd>
            <dt><strong>Email:</strong></dt>
            <dd><%= project.company.director_email %></dd>
            <dt><strong>Phone:</strong></dt>
            <dd><%= project.company.director_phone %></dd>

            <h6>Technical Contact Info</h6>
            <dt><strong>Name:</strong></dt>
            <dd><%= project.company.technical_name %></dd>
            <dt><strong>Designation:</strong></dt>
            <dd><%= project.company.technical_designation %></dd>
            <dt><strong>Email:</strong></dt>
            <dd><%= project.company.technical_email %></dd>
            <dt><strong>Phone:</strong></dt>
            <dd><%= project.company.technical_phone %></dd>
          <% end %>

        </dl>
      </div>

    </div>
  </div>
</div>


