<%= form_for @project, :html => { :class => 'form-horizontal', :multipart => :true } do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :form, :class => 'control-label' %>
    <div class="controls">
      <%= f.file_field :form, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :background, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :background, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :concept, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :concept, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :design, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :design, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :skills, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :skills, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :solutions, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :solutions, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :nda_required, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :nda_required, :class => 'check_box' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :funding_commitment, :class => 'control-label' %>
    <div class="controls">
      <%= f.check_box :funding_commitment, :class => 'check_box' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :company_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :company_id, :class => 'number_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                projects_path, :class => 'btn' %>
  </div>
<% end %>
