<div class="row-fluid">
  <div class="span12">

    <%= form_for project, :url => admin_accept_project_path(project), :method => "get" do |f| %>
      <div class="row-fluid">
        <div class="span4">
          <h5>Suggested Schools</h5>
          <div class="control-group">
            <div class="controls">
              <% School.all.each do |s| %>
                <label class="checkbox">
                  <%= check_box_tag 'selectedSchools[]', s.id, false, :type => "checkbox" %><%= s.name %><br />
                </label>
              <% end %>
            </div>
          </div>
        </div>

        <div class="span4">
          <h5>Required Schools</h5>
          <div class="control-group">
            <div class="controls">
              <% School.all.each do |s| %>
                <label class="checkbox">
                  <%= check_box_tag 'selectedRequiredSchools[]', s.id, false, :type => "checkbox" %><%= s.name %><br />
                </label>
              <% end %>
            </div>
          </div>
        </div>

        <div class="span4">
          <h5>Assign Semester</h5>
          <div class="control-group">
            <div class="controls">
              <% Semester.active.each do |s| %>
                <label class="radio">
                  <%= radio_button_tag 'selectedSemester[]', s.id, false, :type => "radio" %><%= s.name %><br />
                </label>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="form-actions">
        <%= submit_tag "Accept", :class => 'btn btn-success' %>
      </div>
    <% end %>

  </div>
</div>
