<div class="row-fluid">
  <div class="span12">
    <h3><%= link_to project.name, project_path(project) %></h3>

    <dl class="dl-horizontal">

      <% if project.company %>
        <dt><strong>Submitted by:</strong></dt>
        <dd><%= project.company.name %></dd>
      <% elsif project.submitter %>
      <% end %>

      <dt><strong>Background:</strong></dt>
      <dd><%= project.background %></dd>

      <% if project.accepted? %>
        <dt><strong>Majors Required:</strong></dt>
        <dd>
          <% counter = project.schools.count - 1 %>
          <% project.schools.each do |s| %>
            <%= "#{s.name}" %>
            <% if counter > 0 %>
              <%= ", " %>
            <% end %>
            <% counter = counter - 1 %>
          <% end %>
        </dd>
      <% end %>

      <dt><strong>Number of Proposals:</strong></dt>
      <dd><%= project.proposals.count %></dd>

    </dl>

  </div>
</div>
