<h1>Projects</h1>
<br>
<center><%= link_to "Submit A New Project", new_project_path, :class => 'btn btn-primary' %></center>
<br>
<div class="row-fluid">
  <div class="span12">
    <ul class="nav nav-tabs">
      <li><a href="#accepted" data-toggle="tab">Accepted</a></li>
      <li class="active"><a href="#complete" data-toggle="tab">Complete</a></li>
      <li><a href="#incomplete" data-toggle="tab">Incomplete</a></li>
      <li><a href="#rejected" data-toggle="tab">Rejected</a></li>
    </ul>
  </div>
</div>

<div class="row-fluid">
  <div class="span12">
    <div class="tab-content">

      <div class="tab-pane" id="accepted">
        <div class="row-fluid">
          <div class="span12">
            <%= render :partial => "summary_table", :locals => {:projects => @accepted_projects} %>
          </div>
        </div>
      </div>

      <div class="tab-pane active" id="complete">
        <div class="row-fluid">
          <div class="span12">
            <%= render :partial => "summary_table", :locals => {:projects => @complete_projects} %>
          </div>
        </div>
      </div>

      <div class="tab-pane" id="incomplete">
        <div class="row-fluid">
          <div class="span12">
            <%= render :partial => "summary_table", :locals => {:projects => @incomplete_projects} %>
          </div>
        </div>
      </div>

      <div class="tab-pane" id="rejected">
        <div class="row-fluid">
          <div class="span12">
            <%= render :partial => "summary_table", :locals => {:projects => @rejected_projects} %>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>




