<h1>Listing projects</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Background</th>
    <th>Concept</th>
    <th>Design</th>
    <th>Skills</th>
    <th>Solutions</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><%= project.name %></td>
    <td><%= project.background %></td>
    <td><%= project.concept %></td>
    <td><%= project.design %></td>
    <td><%= project.skills %></td>
    <td><%= project.solutions %></td>
    <td><%= link_to 'Show', project %></td>
    <td><%= link_to 'Edit', edit_project_path(project) %></td>
    <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Project', new_project_path %>
