
  <%= image_tag(@home.picture_url, :width => 600) if @home.picture.present? %>
  <%= textilize @home.title%>
  <%= RedCloth.new(@home.description) %>

<p>
<%= link_to 'Edit', edit_home_path(@home) %> |
<%= link_to 'Back', homes_path %>
</p>
