<%= form_for(@page_subheading) do |f| %>
  <% if @page_subheading.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page_subheading.errors.count, "error") %> prohibited this page_subheading from being saved:</h2>

      <ul>
      <% @page_subheading.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
   <%= hidden_field(:page, :page_id, :value => params[:page_id]) %> 
  </div>
  
  <div class="field">
    <%= f.text_field :title %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
