<a 
  href="<%= proposal_path(proposal)%>" 
  id="<%= "proposal_id_#{proposal.id}" %>" 
  data-trigger="hover" 
  data-original-title="Proposal Details"
  data-placement="bottom"
  rel="popover" 
  onclick="return true;">
  Bid for<strong><%= " #{proposal.project.name_humanize} " %></strong>by<strong><%= " #{proposal.group.name}" %></strong>
</a>

<div id="<%= "proposal_id_#{proposal.id}_content" %>" style="display: none;">
  <div class="row-fluid">
    <div class="span12">

      <%= render :partial => "proposals/details", :locals => {proposal: proposal} %>

    </div>
  </div>
</div>
