<%= form_for(@proposal) do |f| %>
  <% if @proposal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@proposal.errors.count, "error") %> prohibited this proposal from being saved:</h2>

      <ul>
      <% @proposal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :propsal_status_type_id %>
    <%= f.number_field :propsal_status_type_id %>
  </div>
<br />
   <div class="field">
    <%= f.label :group_id %>
    <%= params[:group]%>
    <%= f.hidden_field :group_id , :value =>  params[:group] %>
  </div>
<br />


<%= f.hidden_field :project_id %>

    <div class="control-group">
        <%= f.label :project_id, :class => 'control-label' %>
        <div class="controls">
            <%= f.select "project_id", Project.find(:all).collect {|u| [u.name, u.id]}, :selected => @proposal.project_id %>
        </div>
    </div>



  <div class="actions">
    <%= f.submit "Create Proposal",:class => 'btn btn-primary'%>
  </div>
<% end %>
