<%= form_for(@proposal) do |f| %>
  <% if @proposal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@proposal.errors.count, "error") %> prohibited this proposal from being saved:</h2>

      <ul>
      <% @proposal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :proposal_status_type_id , :value =>  1%>
  </div>
   <div class="field">
    <%= f.hidden_field :group_id , :value =>  params[:group] %>
  </div>
<br />


<%= f.hidden_field :project_id %>

    <div class="control-group">
        <%= f.label :project_id, :class => 'control-label' %>
        <div class="controls">
            <%= f.select "project_id", Project.find(:all).collect {|u| [u.name, u.id]}, :selected => @proposal.project_id %>
        </div>
    </div>

   <div class="control-group">
          <%= f.label :what, " What is your understanding of the project? (Please use your own words, do not Copy from the project descriptions submitted by the sponsor)" %>
          <div class="controls">
            <%= f.text_area :what, :class => 'text_area', :rows => '3', :required => true %>
          </div>
    </div>

     <div class="control-group">
          <%= f.label :who,  "Tell us about yourself, your team skills/expertise, how it matches the project’s needs"%>
          <div class="controls">
            <%= f.text_area :who, :class => 'text_area', :rows => '3', :required => true %>
          </div>
    </div>


   <div class="control-group">
          <%= f.label :why,"Why this project for your team? (Sample answers: interested to work full-time with the company, prior co-op internship experience with sponsor, project is really exciting, any other reason)" %>
          <div class="controls">
            <%= f.text_area :why, :class => 'text_area', :rows => '3', :required => true %>
          </div>
    </div>

  <div class="actions">
    <%= f.submit "Create Proposal",:class => 'btn btn-primary'%>
  </div>
<% end %>
