<a 
  href="#" 
  id="<%= "proposal_id_#{proposal.id}" %>" 
  data-trigger="click" 
  data-original-title="Details"
  data-placement="<%= placement %>"
  rel="popover" 
  onclick="return false;">
  <%= "#{proposal.project.name}" %>
</a>

<div id="<%= "proposal_id_#{proposal.id}_content" %>" style="display: none;">
  <div class="row-fluid">
    <div class="span12">

      <dl class="dl-horizontal">

        <dt><strong>Group:</strong></dt>
        <dd><%= proposal.group.name %></dd>

        <dt><strong>Project:</strong></dt>
        <dd><%= proposal.project.name %></dd>

        <dt><strong>Description:</strong></dt>
        <dd><%= proposal.description %></dd>

        <dt><strong>Descision:</strong></dt>
        <dd><%= proposal.status %></dd>

      </dl>

    </div>
  </div>
</div>
