<p id="notice"><%= notice %></p>

<p>
  <b>Group:</b>
  <%= @proposal.group_id %>
</p>

<p>
  <b>Project:</b>
  <%= @proposal.project_id %>
</p>


<p>
  <b>What:</b>
  <%= @proposal.what%>
</p>
<p>
  <b>Who:</b>
  <%= @proposal.who%>
</p>
<p>
  <b>Why:</b>
  <%= @proposal.why %>
</p>


<% if type_of_user == "admin" %>

 <%= link_to "Accept", admin_accept_proposal_path(@proposal), :class => 'btn btn-success'  %>   
  <%= link_to "Reject", admin_reject_proposal_path(@proposal), :class => 'btn btn-danger'  %>  
  <%= link_to 'Back',  proposals_path, :class => 'btn btn-primary'  %>
  <% else %>

<%= link_to 'Back',  group_path(@proposal.group_id ) , :class => 'btn btn-primary'  %>

<% end %>


