<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <!--<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "IDCD" %></title>
    <!--<%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", :media => "all" %>-->
    <link rel="stylesheet" href="/assets/application.css" media="screen" type="text/css">

  </head>
  <body>
    <div id="header">
      <div id="logoWrapper">
        <h2 id="logo">
          <a href="www.gatech.edu"> Georgia Institute of Technology</a>
        </h2>
      </div>
      <div id="utilityBar">
	<div class="row-fluid">
	<div clas="span12">
        <ul id="utilityNav">
          <li>
          <a href="/semester_settings">Semester Settings</a>
          </li>
          <li>
          <a href="/faculties/sign_in">Faculty</a>
          </li>
          <li>
          <a href="/pages/3">Sponsors</a>
          </li>
          <li>
          <a href="/past_projects">Past Projects</a>
          </li>
          <li>
          <a href="http://www.capstone.gatech.edu">Expo</a>
          </li>
          <li>
          <a href="/pages/1">Home</a>
          </li>
        </ul>
        <!--<ul class="nav pull-right">
          <!-- <ul class="nav pull-right">
            <% session[:current_semester] ||= Semester.first %>
            <div class="btn-group">
              <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                <%= "#{session[:current_semester].name} " %><span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <% Semester.active.each do |semester| %>
                  <li><%= link_to "#{semester.name}", "#" %></li>
                <% end %>
              </ul>-->
	  </div>
	  </div>
          </div>
        </div>
        <div id="meat">
	<div class="row-fluid">
	  <div id="support">
		<div class="span3">
		    <ul id="mainNav">
		      <% if not session[:cas_user] %>
			<h2><%= link_to "Login Using CAS", home_login_with_CAS_path %></h2>
		      <% else %>
			<h2><%= link_to current_user.name, edit_user_path(current_user) %></h2>
			<h2><%= link_to "Logout", home_logout_path %></h2>
		      <% end %>

		      <h2>As an Admin, you can:</h2>
		      <li><%= link_to "Manage Semester Settings", semesters_path %></li>
		      <li><%= link_to "Manage Users", users_path %></li>
		      <li><%= link_to "View Projects", projects_path %></li>
		      <h2>As a Student, you can:</h2>
		      <h2>As a Faculty Member, you can:</h2>
		      <li><%= link_to "Approve Projects", projects_path %></li>
		      <h2>As a Sponsor, you can:</h2>
		      <li><%= link_to "Submit A Project", new_project_path  %></li>
		    </ul>
		</div>
	   </div>
	  <div id="content">
		<div class="span7">
		    <!--<div id="columnPrimary" class="t1 l1 w8 textEm tallestBlock">-->
		      <%= yield %>
		    </div>
		</div>
	        </div>
	  </div>
	</div>
        </div>

        <div id="footer">
          Current user:
          <% if session[:cas_user] %>
            <%= "#{session[:cas_user]}" %>
          <% else %>
            No CAS user
          <% end %>

          <center>
            &copy;2013 Georgia Institute of Technology
            <br>
            semester set to: <%= session[:current_semester].name %>
          </center>

          <%= Rails.env.development? %>
        </div>


        <div id="admin_footer" class="container">
          <div class="row-fluid page-header">
            <div class="span12">
              <h4>Admin Footer</h4>
            </div>
          </div>

          <% if not test_user %>

            <div class="row-fluid">
              <div class="span12">
                <%= form_tag controller: "users", action: "tester_login" do %>
                  Login as: 
                  <%= select_tag 'test_user_id', options_for_select(User.where(test: true).collect{ |u| [u.gtusername, u.id] }) %>
                  <%= submit_tag %>
                <% end %>
              </div>
            </div>

          <% elsif test_user %>

            <div class="row-fluid">
              <div class="span12">
                Viewing site as user "<%= "#{test_user.gtusername}" %>"
                <%= link_to "Exit View", tester_logout_users_path %>
              </div>
            </div>

          <% end %>

        </div>

        <div style="padding-bottom: 30px">
        </div>


        <!-- Javascripts
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <%= javascript_include_tag "application" %>
      </body>
    </html>
