<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <!--<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "IDCD" %></title>
    <!--<%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", :media => "all" %>-->
    <link rel="stylesheet" href="/assets/application.css" media="screen" type="text/css">

  </head>
  <body>
    <div id="header">
      <div id="logoWrapper">
        <h2 id="logo">
          <a href="http://www.gatech.edu"> Georgia Institute of Technology</a>
        </h2>
      </div>
      <div id="utilityBar">
        <div class="row-fluid">
          <div clas="span12">
            <ul id="utilityNav">
              <li>
              <a href="http://www.capstone.gatech.edu">Capstone Expo Info</a>
              </li>
              <li>
              <a href="/home">Home</a>
              </li>
            </ul>
            <!--<ul class="nav pull-right">
              <!-- <ul class="nav pull-right">
                <% session[:current_semester] ||= Semester.first %>
                <div class="btn-group">
                  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    <%= "#{session[:current_semester].name} " %><span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <% Semester.active.each do |semester| %>
                      <li><%= link_to "#{semester.name}", "#" %></li>
                    <% end %>
                  </ul>-->
                </div>
              </div>
            </div>
          </div>

          <div id="meat" class="container">
            <div class="row-fluid">
              <div id="support" class="span2">
                <ul id="mainNav">

                  <% if not current_user %>
                    <li><%= link_to "Login Using CAS", home_login_with_CAS_path %></li>
                    <li><%= link_to "Submit A Project", new_project_path  %></li>

                  <% else %>
                    <li><%= link_to "Welcome #{current_user.gtusername}", edit_user_path(current_user) %></li>
                    <li><%= link_to "Logout", home_logout_path %></li>

                    <h2 style="margin-top: 20px">Quick Links</h2>

                    <% if current_user.isAdmin? %>
                      <li><%= link_to "View Projects", projects_path %></li>
                      <li><%= link_to "Semester Settings", semesters_path %></li>
                      <li><%= link_to "Manage Users", users_path %></li>
                      <li><%= link_to "Manage Groups", groups_path %></li>
                      <li><%= link_to "Manage Proposals", proposals_path%></li>
                      <li><%= link_to "My Profile", user_path(current_user) %></li>
                    <% end %>

                    <% if current_user.isFaculty? %>
                      <li><%= link_to "View Projects", projects_path %></li>
                      <li><%= link_to "My Profile", user_path(current_user) %></li>
                    <% end %>

                    <% if current_user.isStudent? %>
                      <li><%= link_to "View Projects", projects_path %></li>
                      <li><%= link_to "Groups and Teams", groups_path %></li>
                      <li><%= link_to "Project Proposals", proposals_path %></li>
                      <li><%= link_to "My Profile", user_path(current_user) %></li>
                    <% end %>

                  <% end %>

                </ul>
              </div>

              <div id="content" class="span8">
                <% if flash[:notice] %>
                  <div class="row-fluid">
                    <div class="span12">
                      <div class="alert">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <%= "#{flash[:notice]}" %>
                      </div>
                    </div>
                  </div>
                <% end %>

                <% if flash[:error] %>
                  <div class="row-fluid">
                    <div class="span12">
                      <div class="alert">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <%= "#{flash[:error]}" %>
                      </div>
                    </div>
                  </div>
                <% end %>

                <div class="row-fluid">
                  <div class="span12">
                    <%= yield %>
                  </div>
                </div>
                <div class="row-fluid">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div id="footer">
          Current user:
          <% if current_user %>
            <%= current_user.gtusername %>
            <% if current_user.isTest? %>
              (Test user)
            <% end %>
          <% else %>
            No logged in user
          <% end %>

          <center>
            &copy;2013 Georgia Institute of Technology
            <br>
            semester set to: <%= session[:current_semester].name %>
          </center>

          <%= Rails.env.development? %>

          <br />

          <% if flash[:notice] %>
            <%= "#{flash[:notice]}" %>
          <% end %>
        </div>


        <div id="admin_footer" class="container">
          <div class="row-fluid page-header">
            <div class="span12">
              <h4>Admin Footer</h4>
            </div>
          </div>

          <% if not test_user %>

            <div class="row-fluid">
              <div class="span12">
                <%= form_tag controller: "users", action: "tester_login" do %>
                  Login as: 
                  <%= select_tag 'test_user_id', options_for_select(User.where(test: true).collect{ |u| [u.gtusername, u.id] }) %>
                  <%= submit_tag %>
                <% end %>
              </div>
            </div>

          <% elsif test_user %>

            <div class="row-fluid">
              <div class="span12">
                Viewing site as user "<%= "#{test_user.gtusername}" %>"
                <%= link_to "Exit View", tester_logout_users_path %>
              </div>
            </div>

          <% end %>

        </div>

        <div style="padding-bottom: 30px">
        </div>


        <!-- Javascripts
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <%= javascript_include_tag "application" %>
      </body>
    </html>
